.text-display {
    background-color: #8d7e7e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.spark-code {
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
