.chat-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    /*background-color: #ffffff;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    padding: 20px;
}
 
 
.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px; /* Set the maximum height */
    overflow-y: auto; /* Add a vertical scroll bar when needed */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding */
    margin: 0 auto;
}
 
.message-container::-webkit-scrollbar {
    width: 12px; /* Width of the scroll bar */
}
 
.message-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scroll bar track */
}
 
.message-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scroll bar thumb */
    border-radius: 5px; /* Rounded corners of the scroll bar thumb */
}
 
.message-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scroll bar thumb on hover */
}
 
.input-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px auto;
    height: 40px;
}
 
.input-field {
    width: 100%;
}